ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    overflow: hidden;
    justify-content: center;
    padding: 10px;
  }
  
  li {
    display: inline-block;
    padding: 20px;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li:hover{
    cursor: pointer;
    font-weight: bolder;
    text-decoration: underline;
  }
  #bg{
    background-color: bisque;
  }
 img{
    padding: 10px;

 }
 